# This is a tdmslab configuration file. It is loaded upon initialization
# of librtdc or tdmslab. Any parameters in the [sections] can be 
# overwritten by "para" or "camera" files for separate measurements.

[Filtering]
Enable Filters = True
# circularity (interval to investigate)
Defo Min = 0.0
Defo Max = 0.0
# area in µm² (interval to investigate)
Area Min = 0.0
Area Max = 0.0
Pos Lat Min = 0
Pos Lat Max = 0
Aspect Min = 0.0
Aspect Max = 0.0
Time Min = 0.0
Time Max = 0.0
Area Ratio Min = 0.0
Area Ratio Max = 0.0
# lateral postition of cell in channel
#Pos Lat Min = -1
#Pos Lat Max = 27

[General]
# Channel width in um
Channel Width = 20.0

[Image]
# length of one pixel in microns
Pix Size = 0.34


[Plotting]
# plot isomechs
Isoelastics = True
# resolution of plotting contourlines
Contour Plot = True
Rows = 2
Columns = 3
Axis X = "Area"
Axis Y = "Defo"
KDE = "Gauss" # Kernel Density Estimate, can also be "Multivariate"
# Limit number of points drawn in a scatter plot
# Active or inactive
Downsampling = True
# Set maximum number. If <1, only grid-downsampling is performed
Downsample Points = 2000


# standard variables that are sensible
Defo Max = 0.2
Circ Min = 0.8
Circ Max = 1

